{% extends 'base.html.twig' %}

{% block title %}Astromu{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app', null ,'appConfig') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app', null ,'appConfig') }}
{% endblock %}


{% block main %} <div id="app" data-user="{{ user }}" data-token=""></div> {% endblock %}



