html,body {
    height: 100vh;
}
#logo{
    position: absolute;
    top: -20px;
    left: calc(50% - 60px);
    height: 40px;
    width: 120px;
    background-color: whitesmoke;
}
.card-login{
    max-height: 300px;
    max-width: 400px;
    min-width: 375px;
    min-height: 298px;
    -webkit-box-shadow: 3px 3px 4px -2px rgba(39,130,52,1);
    -moz-box-shadow: 3px 3px 4px -2px rgba(39,130,52,1);
    box-shadow: 3px 3px 4px -2px rgba(39,130,52,1);

}

.offcanvas-parent {
    position: relative;
}

.offcanvas {
    position: absolute;
}
.log-icon{
    font-size: 30px;
    text-shadow: 3px 3px lightgray;
}
.navbar-icon{
    font-size: 20px;
    color: grey;
}