@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');
html,body {
    height: 100vh;
}
#logo{
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    height: 80px;
    width: 80px;
    background-color: whitesmoke;
}
.card-login{
    max-height: 300px;
    max-width: 360px;
    min-width: 355px;
    min-height: 298px;

}

.offcanvas-parent {
    position: relative;
}

.offcanvas {
    position: absolute;
}
.log-icon{
    font-size: 30px;
    text-shadow: 3px 3px lightgray;
}


